@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* Make the scrolling to be smooth */
html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: white;
}

a {
    color: white;
    text-decoration: none;
}

/* Navigation bar section */
header {
    position: relative; /* Anchor for the logo */
    width: 100%;
    padding: 20px 50px;
}

.header-top {
    height: 0;
}

.logo-container img {
    position: absolute;
    left: 50px;
    top: 10px;
    width: 200px;
    height: auto;
    z-index: 10;
}

.logo-container img:hover {
    transform: translateY(-5px);
}

.header-nav {
    display: flex;
    justify-content: flex-end;
    padding: 40px 0 20px 0;
}

.header-nav .right {
    display: flex;
    gap: 20px;
    align-items: center;
}

.header-nav .right a{
    color: black;
}

.header-nav .right a:hover{
    color: #7D4E57;
}


.header-nav .right a:last-child{
    background-color: black;
    color: white;
    padding: 5px 15px;
    border-radius: 5px;
}

.header-nav .right a:last-child:hover{
    background-color: white;
    color: #7D4E57;
    padding: 5px 15px;
    border-radius: 5px;
    transition: 0.2s;
}

.header-nav .right a span{
    margin-left: 5px;
}

/* Main Page */
.mainpage {
    margin-top: 120px;
    display: flex;
    justify-content: space-between;
    padding: 10px 50px;
    margin: 50px 0;
    align-items: center;
    gap: 40px;
    margin-bottom: 100px;
    background-color: #484A47;
}

.mainpage .text {
    flex: 5;
    color: white;
}

.mainpage .text h2{
    font-size: 40px;
    flex: 5;
    margin-top: 20px;
}

.mainpage .text p {
    margin-bottom: 20px;
}

.mainpage .text .links{
    margin-top: 25px;
}

.mainpage .text .links span{
    color: black
}

.mainpage .text .links a{
    display: inline-block;
    padding: 5px 10px;
    border: 2px solid #364156;
    border-radius: 5px;
    margin: 0 20px 10px 0;
    transition: 0.1s;
    color: #364156;
    background-color: white;
}

.mainpage .text .links a:hover{
    background-color: #364156;
}

.mainpage .text .links a:hover span{
    color: #ffffff;
}

.mainpage .image {
    flex: 2;
    display: flex;
    justify-content: right;
}

.mainpage .image img{
    width: 350px;
    border-radius: 100%;
}

.mainpage .image img:hover{
    width: 350px;
    transform: translateY(-5px);
    border-radius: 0%;
    transition: 0.2s;
    border-radius: 15px;
}

/* Skills */
.skills-section {
    padding: 0 50px;
    margin-bottom: 100px;
}

.skills-section h2 {
    text-align: center;
    font-size: 35px;
}

.skills-section .text {
    text-align: center;
    margin-bottom: 20px;
}

.skills-section .cells {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.skills-section .cells .cell {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    padding: 10px 20px;
    margin: 10px;
    border: 1.5px solid #D66853;
    border-radius: 12px;
    gap: 10px;
}

.skills-section .cells .cell:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0, 1);
    border-color: #212D40;
}

.skills-section .cells .cell span{
    font-size: 18px;
}

.skills-section .cells .cell img{
    height: 30px;
    width: 30px;
    object-fit: contain;
    border-radius: 2px;
}

/* Projects */
.project-section {
    padding: 0 50px;
    margin-bottom: 100px;
    background-color: #484A47;
}

.project-section h2{
    font-size: 35px;
    padding-top: 20px;
    margin-bottom: 10px;
    text-align: center;
    color: white;
}

.card-containers {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
    margin-top: 10px;
}

.card {
    width: 325px;
    background-color: #F0F0F0;
    border: 8px;
    overflow: hidden;
    box-shadow: 0px 2px 4px black;
    margin: 20px;
    display: flex;
    flex-direction: column;
    min-height: 450px;
    
}

.card:hover{
    transform: translateY(-5px);
    /* box-shadow: 0 10px 20px rgba(0, 0, 0, 0, 1); */
    border: 2px solid #364156;
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    display: block;
}

.card-content {
    padding: 15px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.card-content h3 {
    font-size: 28px;
    margin-bottom: 10px;
}

.card-content p {
    color: green;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.card-content .btn {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
    background-color: #212D40;
    border-radius: 5px;
    color: white;
    margin-top: auto;
    align-self: flex-start;
}

/* Contact */
.contact-section {
    padding: 0 50px;
    margin-bottom: 100px;
}

.contact-section h2{
    font-size: 35px;
}

.contact-section p {
    margin-bottom: 20px;
}

.contact-section .group {
    display: flex;
    gap: 50px;
}

.contact-section .group .text {
    flex: 3;
    margin-top: 20px;
}

.contact-section .group form {
    flex: 3;
    display: flex;
    flex-direction: column;
}

.contact-section .group form input, .contact-section .group form textarea {
    font-family: 'Poppins', sans-serif;
    border: 2px solid #364156;
    background-color: transparent;
    padding: 10px;
    margin-bottom: 15px;
    outline: none;
    resize: none;
}

.contact-section .group form button {
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    color: white;
    background-color: #7D4E57;
    border: none;
    height: 50px;
    cursor: pointer;
}

.contact-section .group form button:hover {
    filter: brightness(.9);
    transition: 0.1s;
}

.contact-section .group .text ul {
    list-style: none;
    margin-top: 20px;
    line-height: 2;
}

.contact-section .group .text ul li a{
    list-style: none;
    margin-top: 20px;
    line-height: 2;
    color: black;
}

.contact-section .group .text ul li a:hover{
    list-style: none;
    margin-top: 20px;
    line-height: 2;
    color: #D66853;
}